* {
    
}

body {
    background-color: #d1d8e0;
   /* background-image: url("/images/angelina-background.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
}
#wrapper { /* VIDLJIVA JE: 990px */
    width: 960px;
    margin: 0px auto;
    padding: 15px;
    border: 2px solid #f6f5f5;
    border-radius: 10px;
    background-color: white;
}


#header {
    padding: 5px;
    margin-bottom: 5px;
    overflow: hidden; /* DA RODITELJ ZNA ZA FLOATNU DJECU */
    height: 50px;
}

.logo {
    
    
}
.logo-img {
    width: 80px;
    float: left;
    position: relative;
    bottom: 5px;
}
.head-right {
    float: right;

}
.head-right p {
    color: black;
    font-size: 11px;
    text-shadow: none;
    font-family: 'Lobster', cursive;
    width: 280px;
    position: relative;
    bottom: 85px;
    text-align: justify;
    text-decoration: none;
    letter-spacing: 3px;
    word-spacing: 2px;
}



.head-center h1 {
    position: relative;
    left: 300px;
    bottom: 15px;
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
    color: black;
    word-spacing: 10px;
    letter-spacing: 4px;
}
.head-center a {
    text-decoration: none;
    color: white;
}

#nav {
    background-color: #fefefe;
    border-radius: 12px;
    border-bottom: 1px solid #f0efef;
    box-shadow: 0 4px 8px 0 rgba(156, 143, 143, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    color: white;
    padding: 5px;

}
#nav ul {
    

}
#nav li {
    display: inline-block;
    position: relative;
    right: 45px;

}
#nav a {
    text-decoration: none;
    color: #545353;
    font-weight: bold;
    font-size: 15px;
    text-shadow: none;
    background-color: #fbf8f8;
    border: 1px solid #f1f1f1;
    border-radius: 16px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: 10px;
    margin: 10px;
    

}
#nav a:hover {
    background-color: #fdfdfd;
    color: #ff4500;
}
#nav a:link {
    /* TODO */
}
#nav a:visited {
    /* TODO */
}
#nav a:active {
   /* TODO */
}




#nav-left-navbar {
    float: left;
}
#nav-right-navbar {
    float: right;

}
.nav-right-icons {
    position: relative;
    top: 15px;
    font-size: 12px;
    
}
.nav-right-icons:hover {
    transition: transform .2s; /* Animation */
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


#main {
    width: 600px;
    float: left;
    font-size: 16px;
}
#main h2 {
    text-align: center;
    background-color: #fefefe;
    color: orangered;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #f0efef;
    box-shadow: 0 4px 8px 0 rgba(156, 143, 143, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
#main p {
    
    padding: 10px;
}
.main-text {
    box-shadow: 0 4px 8px 0 rgba(156, 143, 143, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    color: black;
    border: 1px solid #f0efef;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
}
.main-images {

}
.main-img {
    width: 249px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
    padding: 5px;
    margin: 15px;

}
.main-img:hover { /* KAD DOĐE SA MIŠOM NA SLIKU */
    opacity: 2;
    transition: transform .2s; /* Animacija  */
    transform: scale(1.2);
    z-index: 20;
    transition: transform .2s; /* Animation */
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.main-img-text {
    position: absolute;
    z-index: 2;
    /* right: 0; */
    left: 490px;
    top: 430px;
    /* bottom: 0; */
    color: #2f302a;
    background-color: #f1f1f1;
    padding: 3px;
    border-radius: 10px;
    font-size: 22px;
}












#sidebar {
    width: 340px;
    float: right;
    font-size: 16px;
    
}
#sidebar h2 {
    text-align: center;
    background-color: #fefefe;
    color: orangered;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #f0efef;
    box-shadow: 0 4px 8px 0 rgba(156, 143, 143, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
#sidebar p {
    
    padding: 10px;
    width: 290px;
}
.side-img {
    width: 285px;
}








#footer {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(156, 143, 143, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    color: black;
    border-top: 1px solid #e4e2e2;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #e4e2e2;
    font-size: 16px;
    background-color: #ffffff;
    overflow: hidden;
}
.footer-text {
    color: orangered;
    position: relative;
    right: 160px;
    font-size: 1em;
    float: right;
    margin-right: 25px;
}
.footer-icons {
    float: left;
}
.footer-icons ul {

}
.footer-icons li {
    display: inline-block;
    list-style: none;

}
.footer-icons a {
    text-decoration: none;
    position: relative;
    left: 122px;
    padding: 12px;
    margin: 15px;
    font-size: 1em;
    color: orangered;
    border: 2px solid whitesmoke;
    border-radius: 8px;
}
.footer-icons a:hover {
    background-color: orangered;
    color: white;
    
}
.footer-icons-social {
   padding: 12px;
   width: 100px;
   margin: 8px;
   color: orangered;
   word-spacing: 17px;
   font-size: 20px;
}
.footer-icons-social a {
    color: orangered;
}















.coming-soon {
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(156, 143, 143, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border: 1px solid #f0efef;
    border-radius: 12px;
    position: relative;
    left: 250px;
}


.hthc-clear {
    clear: both;
}